<div class="container text-center mt-4">
  <h1>Lista de premios</h1>
  <div class="table-responsive mt-4">
    <table class="table table-hover align-middle">
      <thead>
        <tr class="table-info">
          <th style="display: none">ID</th>
          <th>Nombre del premio</th>
          <th>Imagen del premio</th>
          <th>Saldo del premio</th>
          <th>Canjear Premio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let premio of premios; let i = index" >
          <td style="display: none">{{ premio._id }}</td>
          <td>{{ premio.nombrePremio }}</td>
          <td><img src="{{ premio.imagenPremio }}" /></td>
          <td>{{ premio.saldoPremio }}</td>
          <td>
            <span *ngIf="!authServiceService.isAuthenticated()"
              ngbPopover="Necesitas estar logueado para canjear este premio"
              popoverClass="custom-popover"
              triggers="hover"
              popoverTitle="Mensaje"
              >

              <button class="btn btn-primary" type="button" disabled>
                Canjear
              </button>
            </span>
            <button *ngIf="authServiceService.isAuthenticated()" class="btn btn-primary" type="button" (click)="openModal(premio._id)">Canjear</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
