<div class="container mt-4">
    <div *ngIf="modelPremio" class="card shadow">
        <div class="card-body">
            <h5 class="card-title text-center my-3 display-2">Editar Premio: {{modelPremio?.nombrePremio}}</h5>
            <img src="../../../../../assets/img/editar.png" alt="iconoEditarPremio">
            <hr>
            <app-form-premios *ngIf="modelPremio"
            [modelPremio]="modelPremio" 
            (submitValues)="onSubmit($event)"
            [isEdit]="true">
            </app-form-premios>
        </div>
    </div>
</div>
