.principal {
    display: flex;
}
.pos {
    width: 25%;
}
.izquierda {
    width: 100%;
    background-color: bisque;
    position: sticky;
    top: 0;
}
.derecha {
    width: 75%;
    background-color: cadetblue;
}

/* Estilos del selector */
