<div class="d-flex align-items-center">
    <a routerLink="/equipos">
        <fa-icon [icon]="faBackWard" [size]="'3x'"></fa-icon>
    </a>
    <h1 class="text-center mt-3 mx-auto">Jugadores</h1>
</div>


<div class="principal">
    <div class="izquierda">
        <div class="entrenador">
            <div class="card shadow-sm p-3 mb-4 bg-body-tertiary rounded">
                <img [src]="entrenador?.datos?.imagenEntrenador" class="card-img-top" alt="{{entrenador?.datos?.nombreEntrenador}}">
                <div class="card-body">
                    <h4 class="card-title">{{entrenador?.datos?.nombreEntrenador}}</h4>
                    <div class="card-text">
                        <ul>
                            <li>Fecha de Nacimiento: {{entrenador?.datos?.fechaNacimiento}}</li>
                            <li>Nacionalidad: {{entrenador?.datos?.nacionalidad}}</li>
                            <li>Pais de Nacimiento: {{entrenador?.datos?.paisNacimiento}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="opciones">
            <h2>Buscar por posicion</h2>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">Todas las posiciones</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">Porteros</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">Mediocentros</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">Delanteros</label>
            </div>
        </div>
    </div>
    <div class="derecha">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5 g-4 mt-3 mx-1">
            <div class="col" *ngFor="let jugador of jugadores">
                <div class="card shadow-sm p-3 mb-4 bg-body-tertiary rounded">
                    <img [src]="jugador?.datos?.imagenJugador" class="card-img-top" alt="{{jugador?.datos?.nombreJugador}}">
                    <div class="card-body">
                        <h4 class="card-title">{{jugador?.datos.nombreJugador}}</h4>
                        <span class="card-text">
                            Posición: {{jugador?.datos?.posicion}}<br>
                            Fecha: {{jugador?.datos?.fechaNacimiento}}<br>
                            Nacionalidad: {{jugador?.datos?.nacionalidad}}<br>
                            Dorsal: {{ jugador?.datos?.dorsal == -1 ? '?' : jugador?.datos?.dorsal }}<br>
                            País: {{jugador?.datos?.paisNacimiento}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Div de todos los jugadores -->



