<div class="container">
    <h2>Registro</h2>
    <form (ngSubmit)="onRegister()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="registroNombre" [(ngModel)]="usuario?.datos.nombre" name="nombre"
                class="form-control" required>
        </div>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" id="edad" [(ngModel)]="usuario?.datos.edad" name="edad" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" id="correo" [(ngModel)]="usuario?.datos.correo" name="correo" class="form-control"
                required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="registroPassword" [(ngModel)]="usuario?.datos.password" name="password"
                class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>