<div class="modal-header">
    <h5 class="modal-title">{{tipo === 'registro' ? 'Registro' 
                            : tipo === 'login' ? 'Login' : 'Editar Usuario'}}</h5>
    <!-- <h5 class="modal-title">Iniciar Sesión</h5> -->
    <button type="button" class="btn-close" (click)="modal.dismiss('cross click')"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form novalidate [formGroup]="form" class="needs-validation">
            <!-- Campo del nombre -->
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control" [ngClass]="{'is-invalid': (form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)) || (submit && form.get('nombre')?.invalid)}">
                <div *ngIf="(form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)) || (submit && 
                    form.get('nombre')?.invalid)" class="invalid-feedback">
                    El nombre es requerido.
                </div>
            </div>
            <ng-container *ngIf="tipo === 'registro' || tipo === 'editarUsuario'">
                <!-- Campo de la edad -->
                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input type="number" id="edad" name="edad" formControlName="edad" class="form-control" [ngClass]="{'is-invalid': (form.get('edad')?.invalid && (form.get('edad')?.dirty || form.get('edad')?.touched)) || (submit && form.get('edad')?.invalid)}">
                    <div *ngIf="(form.get('edad')?.invalid && (form.get('edad')?.dirty || form.get('edad')?.touched)) || (submit && form.get('edad')?.invalid)" 
                         class="invalid-feedback">
                        <div *ngIf="form.get('edad')?.errors?.['required']">La edad es requerida.</div>
                        <div *ngIf="form.get('edad')?.errors?.['min']">Debes ser mayor de 18 años.</div>
                    </div>
                </div>
                <!-- Campo del correo -->
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" id="correo" name="correo" formControlName="correo" 
                           class="form-control"
                           [ngClass]="{'is-invalid': (form.get('correo')?.invalid && (form.get('correo')?.dirty || form.get('correo')?.touched)) || (submit && form.get('correo')?.invalid)}">
                    <div *ngIf="(form.get('correo')?.invalid && (form.get('correo')?.dirty || form.get('correo')?.touched)) || (submit && form.get('correo')?.invalid)" 
                         class="invalid-feedback">
                        <div *ngIf="form.get('correo')?.errors?.['required']">El correo es requerido.</div>
                        <div *ngIf="form.get('correo')?.errors?.['pattern']">Solo se permiten correos de &#64;gmail.com o &#64;hotmail.com.</div>
                    </div>
                </div>

            </ng-container>
            <!-- Campo de la password -->
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': (form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) || (submit && form.get('password')?.invalid)}">
                <div *ngIf="(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) || (submit && form.get('password')?.invalid)" 
                     class="invalid-feedback">
                    La contraseña es requerida.
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="onSubmit()">{{tipo === 'registro' ? 'Registro' 
        : tipo === 'login' ? 'Login' : 'Editar Usuario'}}</button>
    <button class="btn btn-danger" type="reset">Cancelar</button>
</div>
