td img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.datos-equipo, .datos-jugador {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    gap: 20px;
}
.datos-equipo img, .datos-jugador img {
    margin-left: 10px;
}
.primero {
    background-color: rgb(255, 208, 0);
}
.segundo {
    background-color: rgb(173, 173, 173);
}
.tercero {
    background-color: rgb(255, 136, 24);
}
.asistencias {
    text-align: center;
}