.btn {
    margin: 0 10px;  
}
.botones {
    display: flex;
    align-items: center;
}
.iconoUsuario {
    color: aliceblue;
}
.iconoUsuario:hover {
    color: rgb(93, 93, 255);
    cursor: pointer;
}
.iconoPag {
    display: flex;
    align-items: center;
}
.gap-usuario {
    gap: 10px;
}
