<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo a la izquierda -->
        <a routerLink="/" class="navbar-brand iconoPag">
            <img src="../../../assets/img/logoLiga.png" width="80" alt="Logo">
            <h2 *appRoles="['admin']">Dashboard del Admin</h2>
        </a>
        <!-- Botón de navegación para dispositivos móviles -->
        <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse"
            aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menú en el centro -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <!-- Elementos del menú -->
                <li class="nav-item active" *appRoles="['nologin','usuario']">
                    <a routerLink="/" class="btn btn-primary"><fa-icon [icon]="faHome"></fa-icon> Inicio</a>
                </li>
                <li class="nav-item active" *appRoles="['usuario']">
                    <a routerLink="/apuesta" class="btn btn-primary"><fa-icon [icon]="faMoney"></fa-icon> Apuesta</a>
                </li>
                <li class="nav-item active" *appRoles="['admin']">
                    <a routerLink="/usuarios" class="btn btn-primary"><fa-icon [icon]="faUser"></fa-icon> Usuarios</a>
                </li>
                <li class="nav-item active" *appRoles="['admin']">
                    <a routerLink="/adminJornadas" class="btn btn-primary"><fa-icon [icon]="faJornada"></fa-icon> Jornadas</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/clasificacion" class="btn btn-primary"><fa-icon [icon]="faTrophy"></fa-icon> Clasificacion</a>
                </li>
                <li class="nav-item active">
                     <a routerLink="/equipos" class="btn btn-primary"><fa-icon [icon]="faBook"></fa-icon> Coleccion</a>
                </li>
                <li class="nav-item active">
                     <a routerLink="/premios" class="btn btn-primary"><fa-icon [icon]="faGift"></fa-icon> Premios</a>
                </li>
            </ul>
        </div>
        
        <!-- Botones de crear cuenta e iniciar sesion // usuario y logOut -->
        <div class="botones" [ngClass]="{'gap-usuario': authServiceService.hasRole('usuario')}">
            <div *appRoles="['usuario']" class="d-flex align-items-center">
                <img src="../../../assets/img/moneda.png" alt="monedaUsuario" width="50">
                <label style="color: white;">{{ monedaJugador !== null ? monedaJugador : 'Cargando...' }}</label>
            </div>
            <button *appRoles="['nologin']" class="btn btn-secondary" (click)="openModal('registro')">Crear Cuenta</button>
            <button *appRoles="['nologin']" class="btn btn-secondary" (click)="openModal('login')">Iniciar Sesion</button>
            <div *appRoles="['admin', 'usuario']" (click)="openModal('editarUsuario')">
                <fa-icon class="iconoUsuario" [icon]="faUser" [size]="'3x'" *appRoles="['usuario']"></fa-icon>
                <fa-icon class="iconoUsuario" [icon]="faAdmin" [size]="'3x'" *appRoles="['admin']"></fa-icon>
            </div>
            <button *appRoles="['admin', 'usuario']" class="btn btn-secondary" (click)="logOut()">Log Out</button>
        </div>
    </div>
</nav>