.btn {
    margin: 20px 10px; 
}
.botones {
    display: flex;
    align-items: center;
}
.iconoUsuario {
    color: aliceblue;
}
.iconoUsuario:hover {
    color: rgb(93, 93, 255);
    cursor: pointer;
}
.iconoPag {
    display: flex;
    align-items: center;
}
.gap-usuario {
    gap: 10px;
}

li hr {
    border-top: 1px solid rgb(153 153 153);
}

/* Estilo para los enlaces del menú */
.nav-link {
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    text-decoration: none;
}
.nav-link:hover {

    background-color: #495057; /* Color de fondo para el enlace activo */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para los enlaces activos */
.nav-link.active,  .dropdown-item.active, .dropdown.active{
    background-color: #495057; /* Color de fondo para el enlace activo */
    border-radius: 5px; /* Bordes redondeados */
    /* text-decoration: underline; */
}

/* Estilo para los iconos */
.fa-icon {
    margin-right: 5px; /* Espaciado a la derecha del icono */
}

/* Estilo para el dropdown */
.dropdown-menu {
    background-color: #343a40; /* Color de fondo */
    border: none; /* Sin borde */
}

/* Estilo para los elementos del dropdown */
.dropdown-item {
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
}

/* Estilo para los elementos del dropdown al pasar el ratón */
.dropdown-item:hover {
    background-color: #495057; /* Color de fondo al pasar el ratón */
}

