<div *ngIf="jornada" class="container-sm">
    <div class="mt-4 jor">
        <div class="jornada-anterior nuevaJ" (click)="jornada.numeroJornada > 1 && nuevaJornada(jornada.numeroJornada - 1)">
            <fa-icon [icon]="faLeft" [size]="'3x'" [class.disabled]="jornada.numeroJornada <= 1"></fa-icon>
            <p [class.disabled]="jornada.numeroJornada <= 1">Jornada {{jornada.numeroJornada - 1}}</p>
        </div>
        <h3 class="text-center">Jornada {{ jornada?.numeroJornada }}</h3>
        <div class="jornada-siguiente nuevaJ" (click)="jornada.numeroJornada < 38 && nuevaJornada(jornada.numeroJornada + 1)">
            <fa-icon [icon]="faRight" [size]="'3x'" [class.disabled]="jornada.numeroJornada >= 38"></fa-icon>
            <p [class.disabled]="jornada.numeroJornada >= 38">Jornada {{jornada.numeroJornada + 1}}</p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th style="float: left; margin-left: 30px" class="col-4">EquipoLocal</th>
                    <th class="col-4">Resultado</th>
                    <th style="float: right; margin-right: 30px" class="col-4">EquipoVisitante</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let partido of jornada.partidos; let i = index" (click)="openModal(jornada.numeroJornada, i)">
                    <td class="col-4">
                        <div class="local">
                            <img [src]="partido?.equipoLocal.escudoEquipo"
                                alt="{{ partido?.equipoLocal?.nombreEquipoCorto }}" />
                            <p>{{ partido?.equipoLocal?.nombreEquipoCorto }}</p>
                        </div>
                    </td>
                    <td class="align-middle col-4">
                        <div *ngIf="jornada.jugado; else noJugado">
                            <p class="resultado">
                                <b>{{ partido?.golesLocal }} vs {{ partido?.golesVisitante }}</b>
                            </p>
                        </div>
                        <ng-template #noJugado>
                            <p class="resultado">No jugado</p>
                        </ng-template>
                    </td>
                    <td class="col-4">
                        <div class="visitante">
                            <p>{{ partido?.equipoVisitante?.nombreEquipoCorto }}</p>
                            <img [src]="partido?.equipoVisitante?.escudoEquipo"
                                alt="{{ partido?.equipoVisitante?.nombreEquipoCorto }}" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>