.card {
    max-width: 25rem;
    margin: 20px auto;
}

.card img {
    object-fit: contain;
    height: 300px;
    margin: 20px 0;
}
.u {
    display: flex;
    align-items: center;
    gap: 10px;
}
.iconoOpinion {
    
}