<div class="menu">
  <nav class="navbar navbar-expand-lg bg-body-tertiary z-3">
    <div class="container">
      <a class="navbar-brand" href="#">Secciones</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Introducción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#secciones">Secciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Sobre Mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar sección..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>
<!-- Fin del div menu -->1
 <!-- Sección de inicio -->
<section id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-4">
        <h1 data-aos="fade-up">LaLigaStats</h1>
        <p data-aos="fade-up" data-aos-delay="300">LaLigaStats es una página web donde puedes encontrar toda la información acerca de la liga de fútbol española en menos de 4 clicks. Además, si te registras, 
          y aciertas las predicciones, podrás canjear los beneficios por increíbles premios. Asi que, a que estas esperando para registrarte</p>
          <button *appRoles="['nologin']" class="btn btn-outline-light" (click)="openModal('registro')" data-aos="fade-up" data-aos-delay="500">Crear Cuenta</button> 
      </div>
    </div>
  </div>
</section>
<!-- Sección de secciones -->
<section id="secciones">
  <div class="container">
    <div class="row">
      <div class="col-12" data-aos="fade-up">
        <div class="intro text-center">
          <hr class="mx-auto">
          <h1 class="display-4 my-2">Secciones de la página web</h1>
          <p class="mx-auto">A continuación, se van a mostrar todas las secciones que tiene la página web LaLigaStas y se va a explicar
            que contenido
            vas a ver en cada una de ellas.
          </p>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      <div class="col" data-aos="fade-up">
        <div class="card h-100">
          <img src="../../../../assets/img/secciones/novedades.png" class="card-img-top" alt="iconoNovedades">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Novedades</h5>
            <p class="card-text">Esta sección muestra la información más increíble de la última jornada: </p>
            <ul>
              <li>Equipo: equipo que más goles ha metido en la última jornada</li>
              <li>Goleador: jugador que más goles ha hecho en la última jornada</li>
              <li>Asistente: jugador que más asistencias ha dado en la última jornada</li>
            </ul>      
          </div>
          <div class="card-footer d-flex">
            <button class="btn btn-primary mx-auto" routerLink="/novedades" (click)="showAlerta2()">Ir a novedades</button>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="300">
        <div class="card h-100">
          <img src="../../../../assets/img/secciones/clasificacion.png" class="card-img-top" alt="iconoClasificacion">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Clasificación</h5>
            <p class="card-text">Esta sección, se divive en 4 apartados: </p>
            <ul>
              <li>Tabla Clasificación: tabla con las posiciones de cada equipo según los puntos</li>
              <li>Jornada: ver todos los partidos de las 38 jornadas de la liga</li>
              <li>Goleadores: tabla con los máximos goleadores de la liga</li>
              <li>Asistentes: tabla con los máximos asistentes de la liga</li>
            </ul>            
          </div>
          <div class="card-footer d-flex">
            <button class="btn btn-primary mx-auto" routerLink="/clasificacion">Ir a clasificacion</button>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="400">
        <div class="card h-100">
          <img src="../../../../assets/img/secciones/coleccion.png" class="card-img-top" alt="iconoColeccion">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Colección</h5>
            <p class="card-text">Esta sección contiene la información de todos los equipos de primera división, desde 
              información acerca de club, como a su vez, de todos los jugadores de la plantilla, incluidas sus estadísticas actuales en la Liga.</p>      
          </div>
          <div class="card-footer d-flex">
            <button class="btn btn-primary mx-auto" routerLink="/equipos">Ir a coleccion</button>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="500">
        <div class="card h-100">
          <img src="../../../../assets/img/secciones/premios.png" class="card-img-top" alt="iconoPremios">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Premios</h5>
            <p class="card-text">En esta sección, podrás canjear premios dependiendo de las monedas que hayas ganado haciendo los distintos tipos de predicciones.
              Una vez que sepas cual escoger, te llegará el código del producto al correo para que puedas canjearlo
            </p>      
          </div>
          <div class="card-footer d-flex">
            <button class="btn btn-primary mx-auto" routerLink="/premios">Ir a premios</button>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="600">
        <div class="card h-100">
          <img src="../../../../assets/img/secciones/quinielas.png" class="card-img-top" alt="iconoPredicciones">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Predicciones</h5>
            <p class="card-text">Esta sección contiene los 3 tipos de predicciones: </p>      
            <ul>
              <li>Quiniela: acertar el resultado de uno o varios partidos de la jornada</li>
              <li>Predicción goles: acertar los goles de un equipo en una jornada</li>
              <li>Predicción asistencias acertar las asistenciasde un equipo en una jornada</li>
            </ul>
          </div>
          <div class="card-footer d-flex">
            <button class="btn btn-primary mx-auto predi" routerLink="/quiniela" (click)="showAlerta()">Quiniela</button>
            <button class="btn btn-primary mx-auto predi" routerLink="/ap_Goles" (click)="showAlerta()">Goles</button>
            <button class="btn btn-primary mx-auto predi" routerLink="/ap_Asistencias" (click)="showAlerta()">Asistencias</button>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="700">
        <div class="card h-100">
          <img src="../../../../assets/img/resumen.png" class="card-img-top" alt="iconoHistorico">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Histórico</h5>
            <p class="card-text">Aquí se recoge un resumen de las predicciones realizadas por el usuario, donde puedes ver
              todos los tipos de predicciones que has hecho y el resultado de las monedas que has ganado o perdido.
            </p>      
          </div>
          <div class="card-footer d-flex">
            <button class="btn btn-primary mx-auto" routerLink="/historico" (click)="showAlerta()">Ir a histórico</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5" data-aos="fade-up">
        <div class="intro">
          <hr>
          <h1 class="display-4 my-2">Sobre mí</h1>          
        </div>
        <p>Hola, soy Julián Blanco González, un futuro graduado en Ingeniería Informática. A lo largo de los 4 años de la carrera, he ido aprendiendo y desarrollando 
          todo tipo de habilidades en este ámbito, desde ir mejorando y optimizando el código a la hora de programar, mejorar el diseño de una base de datos, o intentar
          hacer el mejor estilo en el front-end posible.
        </p>
        <p>El objetivo de esta página es unir 2 de mis pasiones, como lo son el fútbol y la informática, y hacer que los usuarios vivan la mejor experiencia posible. Esta web está hecho usando el
          stack MEAN: Mongo - Express - Angular - Node. Si quieres ver más proyectos personales de la carrera, o hechos por mi cuenta, te dejo aquí abajo mi link de GitHub.
        </p>
        <a href="https://github.com/JulianBlanco98" class="btn btn-outline-dark"><i class="fab fa-github"></i>  Ir a GitHub</a>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex" data-aos="fade-up">
        <img src="../../../../assets/img/secciones/about4.jpg" loading="lazy" alt="imagenSobreMi">
      </div>
    </div>
  </div>
</section>
<section id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-12" data-aos="fade-up">
        <div class="intro text-center">
          <hr class="mx-auto">
          <h1 class="display-4 my-2 mx-auto">Contacto</h1>
          <p class="mx-auto">En este formulario, cualquier duda o sugerencia que tengas, puedes enviármela y te contestaré lo antes posible</p>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-8 mx-auto" >
        <form action="" class="row gy-3">
          <div class="col-lg-6">
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre...">
          </div>
          <div class="col-lg-6">
            <input type="email" name="correo" id="correo" class="form-control" placeholder="Correo...">
          </div>
          <div class="col-lg-12">
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Motivo...">
          </div>
          <div class="col-lg-12">
            <textarea class="form-control" rows="5" placeholder="Mensaje..."></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-dark">Enviar mensaje</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
