<div class="menu">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">Secciones</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Introducción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#secciones">Secciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">Sobre Mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto">Contacto</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar sección..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>
<!-- Fin del div menu -->
<section id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-4">
        <h1 data-aos="fade-up">LaLigaStats</h1>
        <p>LaLigaStats es una página web donde puedes encontrar toda la información acerca de la liga de fútbol española en menos de 4 clicks. Además, si te registras, 
          y aciertas las predicciones, podrás canjear los beneficios por increíbles premios. Asi que, a que estas esperando para registrarte</p>
          <a href="" class="btn btn-outline-light">Registrate</a>
      </div>
    </div>
  </div>
</section>
