<div class="menu">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Secciones</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Introducción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#novedades">Novedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clasificación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#coleccion">Colección</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Premios</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar sección..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>
<!-- Fin del div menu -->
<div class="container-fluid">
  <div class="contenedor-secciones">
    <section class="uno">
        <h1>Primera Página</h1>
    </section>
    <section class="dos" id="novedades">
        <h1>Segunda Página</h1>
    </section>
    <section class="tres">
        <h1>Tercera Página</h1>
    </section>
    <section class="cuatro">
        <h1>Cuarta Página</h1>
    </section>
    <section class="cinco" id="coleccion">
        <h1>Quinta Página</h1>
    </section>
    <section class="seis">
        <h1>Sexta Página</h1>
    </section>
  </div>
</div>
