/* section {
    height: 100vh;
    scroll-snap-align: start;
}
.contenedor-secciones {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.uno {
    background-color: red;
}
.dos {
    background-color: blue;
}
.tres {
    background-color: whitesmoke;
}
.cuatro {
    background-color: burlywood;
}
.cinco {
    background-color: floralwhite;
}
.seis {
    background-color: salmon;
} */
.navbar {
    position: absolute;
    width: 100%;
}

section {
    padding-top: 170px;
    padding-bottom: 170px;
}
img {
    width: 100%;
}
#inicio {
    background: url('../../../../assets/img/fondos/fondo1.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
@media (max-width: 992px) {
    .navbar {
        background-color: red;
    }
}