/* section {
    height: 100vh;
    scroll-snap-align: start;
}
.contenedor-secciones {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.uno {
    background-color: red;
}
.dos {
    background-color: blue;
}
.tres {
    background-color: whitesmoke;
}
.cuatro {
    background-color: burlywood;
}
.cinco {
    background-color: floralwhite;
}
.seis {
    background-color: salmon;
} */
.navbar {
    position: absolute;
    width: 100%;
}

section {
    padding-top: 170px;
    padding-bottom: 170px;
}
img {
    width: 100%;
}
#inicio {
    background: url('../../../../assets/img/fondos/fondo1.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
#inicio h1 {
    font-weight: 700;
    font-size: 70px;
}
#inicio p {
    max-width: 500px;
}
#inicio .btn {
    padding: 20px 50px;
    border-width: 2px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
}
.intro {
    margin-bottom: 60px;
}
.intro hr {
    width: 100px;
    height: 4px;
    background-color: black;
    opacity: 1;
}
.intro h1{
    font-weight: 900;
}
.card img {
    object-fit: contain;
    width: 100px;
    margin: 20px auto;
}
.card-footer .predi {
    width: 103px;
}
